@import "./../node_modules/bootstrap/scss/_functions.scss";
@import "./../node_modules/bootstrap/scss/_variables.scss";
@import "./../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, span, button, a, input {
  font-size: 11px !important;
}

.image-crest {
  zoom: 55%;
}

@include media-breakpoint-down(md) {
  .bs-md-scroll-table table {
    overflow-x: auto;
    display: -webkit-box;
  }
}

@include media-breakpoint-down(xs) {
  body, span, button, a, input {
    font-size: 12px !important;
  }
  .image-crest {
    zoom: 33%;
  }

  .bs-xs-scroll-table table {
    overflow-x: auto;
    display: -webkit-box;
  }

  .card {
    &.popup {
      .card-body {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width: 450px) {
  body, span, button, a, input {
    font-size: 8px !important;
  }

  .bs-xxs-scroll-table table {
    overflow-x: auto;
    display: -webkit-box;
  }
}

.bs-scroll-table table {
  overflow-x: auto;
  display: -webkit-box;
}

.nav-img {
  zoom: 35%; }

ul.scroll-nav {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  cursor: pointer;
  &::-webkit-scrollbar {
    display: none;
  }

  li {
    float: none;

    a.nav-link {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);

      &.active {
        color: #ee6e73;
      }
    }

  }
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #f6b2b5;
  will-change: left, right; }

.accordion-header {
  cursor: pointer;
}

.accordion-header-info {
  text-align: center;
  margin: auto;
}

.centered-table {
  thead th, tbody td {
    vertical-align: middle;
    text-align: center;
  }
}

.team-ladder-table {
  margin: auto;
}

.diff-h-4 {
  background-color: #0039e6;
}

.diff-h-3 {
  background-color: #3366ff;
}

.diff-h-2 {
  background-color: #33ccff;
}

.diff-h-1 {
  background-color: #33ffff;
}

.diff-e, .selected, .approved {
  background-color: #4dff4d !important;
}

.diff-a-1, .pending {
  background-color: #ffff4d !important;
}

.diff-a-2 {
  background-color: #ffd24d !important;
}

.diff-a-3 {
  background-color: #ff4000 !important;
}

.diff-a-4, .select-option, .declined {
  background-color: #ff0000 !important;
}

.transparent-text {
  color: transparent;
}

.gif-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .gif-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: overlay;
    background-image: url('https://media.giphy.com/media/KGTTNpVuGVhN6/giphy.gif');
  }

  color: white;
}

.profile-photo {
  &.loading {
    .player-img {
      display: none;
    }
  }

  &.loaded {
    margin-top: -6rem;

    .player-img {
      width: 10rem;
    }
  }
}

.card {
  &.popup {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  }
}

.position-description {
  transform: rotate(270deg);
}

.field {
  background: linear-gradient(
    to bottom,
    green 0%,
    #3DAF57 20%,
    green 40%,
    #3DAF57 60%,
    green 80%,
    #3DAF57 100%,
    green 60%,
    #3DAF57 70%,
    green 80%,
    #3DAF57 90%,
    green 100%
  );

  color: white;

  .selected {
    color: black;
  }
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
