body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (max-width:768px) {
  .image-crest {
    zoom: 60%;
  }
}

ul.rounds-nav > li > a.round-link {
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.12);
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-transform: capitalize;
}

.rounds-nav::-webkit-scrollbar {
  display: none;
}

.centered {
  text-align: center;
}
