@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@include media-breakpoint-down(md) {
  .image-crest {
    zoom: 60%;
  }

  .bs-md-scroll-table table {
    overflow-x: auto;
    display: -webkit-box;
  }
}

@include media-breakpoint-down(xs) {
  body {
    font-size: 12px;
  }
  .image-crest {
    zoom: 50%;
  }

  .bs-xs-scroll-table table {
    overflow-x: auto;
    display: -webkit-box;
  }
}

.bs-scroll-table table {
  overflow-x: auto;
  display: -webkit-box;
}

.nav-img {
  zoom: 35%; }

ul.scroll-nav {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  margin-bottom: 3rem;
  cursor: pointer;
  &::-webkit-scrollbar {
    display: none;
  }

  li {
    float: none;

    a.nav-link {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);

      &.active {
        color: #ee6e73;
      }
    }

  }
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #f6b2b5;
  will-change: left, right; }

.accordion-header {
  cursor: pointer;
}

.accordion-header-info {
  text-align: center;
  margin: auto;
}

.centered-table {
  thead th, tbody td {
    vertical-align: middle;
    text-align: center;
  }
}

.team-ladder-table {
  margin: auto;
}

.diff-h-3 {
  background-color: #3366ff;
}

.diff-h-2 {
  background-color: #33ccff;
}

.diff-h-1 {
  background-color: #33ffff;
}

.diff-e {
  background-color: #4dff4d !important;
}

.diff-a-1 {
  background-color: #ffff4d;
}

.diff-a-2 {
  background-color: #ffd24d;
}

.diff-a-3 {
  background-color: #ff4d4d;
}

.transparent-text {
  color: transparent;
}

.gif-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .gif-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: overlay;
    background-image: url('https://media.giphy.com/media/KGTTNpVuGVhN6/giphy.gif');
  }

  color: white;
}

.profile-photo {
  &.loading {
    .player-img {
      display: none;
    }
  }

  &.loaded {
    margin-top: -6rem;

    .player-img {
      width: 10rem;
    }
  }
}
