body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

@media (max-width: 991.98px) {
  .image-crest {
    zoom: 60%; }
  .bs-md-scroll-table table {
    overflow-x: auto;
    display: -webkit-box; } }

@media (max-width: 575.98px) {
  body, span {
    font-size: 12px; }
  .image-crest {
    zoom: 33%; }
  .bs-xs-scroll-table table {
    overflow-x: auto;
    display: -webkit-box; }
  .card-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; } }

.bs-scroll-table table {
  overflow-x: auto;
  display: -webkit-box; }

.nav-img {
  zoom: 35%; }

ul.scroll-nav {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  margin-bottom: 3rem;
  cursor: pointer; }
  ul.scroll-nav::-webkit-scrollbar {
    display: none; }
  ul.scroll-nav li {
    float: none; }
    ul.scroll-nav li a.nav-link {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12); }
      ul.scroll-nav li a.nav-link.active {
        color: #ee6e73; }

.indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #f6b2b5;
  will-change: left, right; }

.accordion-header {
  cursor: pointer; }

.accordion-header-info {
  text-align: center;
  margin: auto; }

.centered-table thead th, .centered-table tbody td {
  vertical-align: middle;
  text-align: center; }

.team-ladder-table {
  margin: auto; }

.diff-h-3 {
  background-color: #3366ff; }

.diff-h-2 {
  background-color: #33ccff; }

.diff-h-1 {
  background-color: #33ffff; }

.diff-e, .selected {
  background-color: #4dff4d !important; }

.diff-a-1 {
  background-color: #ffff4d; }

.diff-a-2 {
  background-color: #ffd24d; }

.diff-a-3 {
  background-color: #ff4d4d; }

.transparent-text {
  color: transparent; }

.gif-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white; }
  .gif-container .gif-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: overlay;
    background-image: url("https://media.giphy.com/media/KGTTNpVuGVhN6/giphy.gif"); }

.profile-photo.loading .player-img {
  display: none; }

.profile-photo.loaded {
  margin-top: -6rem; }
  .profile-photo.loaded .player-img {
    width: 10rem; }

.card.popup {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12); }
